body{
  background-color:#eef4fd;
}
header{
  width: 100%;
  padding-bottom: 10px;
  overflow: auto;
}
.d1{
  float: left;
  padding-left: 10px;
  width: fit-content;

}
.d2{
  padding: 1px;
  

}
.d3{
  padding-bottom: 2px;
}
ul{
  text-decoration: none;
  list-style: none;
}
li{
  display: inline;
}
.a1{
   position: relative;
   width: 100%;
   height: 100%;
   
   
}

.nav{
   display: flex;
   width: 84%;
   margin: auto;
   padding: 20px 0;
   align-items: center;
   justify-content: space-between;

}
nav ul li{
   display:inline-block;
   list-style: none;
   margin: 1px 1px;
}
nav ul li {
   padding-left: 10%;
   text-decoration: none;
  -webkit-text-fill-color: black;
  font-size: x-large;
   font-weight: bold;
}
nav ul li a:hover{
   color: brown;
}
.mm{
  background-color: #f5deb3 transparent;
  height: 20px;
  text-align: center;
  text-decoration: line-through;
  text-emphasis-color: brown;
}
#slideshow {
  text-align: center;
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 480px;
  width: 728px;
}

.slide:nth-child(1) {
  background: #ffdead;
}

.slide:nth-child(2) {
  background: #f5deb3;
}

.slide:nth-child(3) {
  background: #deb887;
}

.slide:nth-child(4) {
  background: #d2b48c;
}
.slide:nth-child(5) {
  background: #ffdead;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
h2{
  text-align: center;
  color:#323232;
  text-decoration: underline;
}
.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.skillbar-bar:before {
  background: #eee;
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.skillbar-bar {
  height: 6px;
  width: 70px;
  background: #323232;
  transition-property: width, background-color;
}

.skillbar-title {
  color: brown;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

/* CENTERING ONLY */

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.footer-basic {
   
  background-color:#f5deb3;
  color:#4b4c4d;
  position:bottom;
  height:100px;
  width:100%;
  
}
footer{
  padding-bottom:auto;
  
  background:#f5deb3;
  width:100%;
  min-height: fit-content;
  max-height: fit-content;
}
.footer-basic{
  margin-top: 430px;
}
.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}